<div class="panel panel-primary">
  <div class="panel-heading">
    メッセージ一覧
  </div>
  <div class="panel-body">
     <ul class="nav">
      <li><span class="label label-info">名前</span></li>
      <li><span class="label label-info">内容</span></li>
      <li><span class="label label-info">年齢</span></li>
     </ul>
    <% @messages.each do |message| %>
     <ul class="nav">
      <li><%= message.name %></li>
      <li><%= message.body %></li>
      <li><%= message.age %></li>
      (<%= link_to "edit" , edit_message_path(message) %>　
      <%= link_to "destroy" , message , method: :delete, data: { confirm: '削除してもよろしいですか？' } %>
        )
      </ul>
      <br>
      <% end %>
  </div>
</div>

<% #部分テンプレートを読み込んでいる %>
<%= render 'form' %>